# Database Connection
DB_HOST=
DB_NAME=

# Export files options
DIR_SQLSTMTS='./SQLSTMTS'
DIR_OUTPUT='./OUTPUT'

# Server Properties
PORT=9000

# SSIS Properties
SSIS_FOLDER='Test1'
SSIS_PROJECT='GreenlightTest'
SSIS_ENVIRONMENT='Test Env'
SSIS_ENVIRONMENT_ID=1
